<!DOCTYPE html>
<html>
<head>
  <title>University Project - Loign</title>
  <%= stylesheet_link_tag "user_sessions", :media => "all" %>

  <%= javascript_include_tag "jquery-1.7.2.min.js", :type => "text/javascript", :charset => "utf-8" %>
  <%= javascript_include_tag "prettyCheckboxes.js", :type => "text/javascript", :charset => "utf-8" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav></nav>
  </header>

  <section>
  	<%= yield %>
  </section>

  <footer></footer>
</body>
</html>
